$picSize: 32px;
$fontSize: 14px;

#tweetsContainer {
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #ddd;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
	font-family: Roboto;
	font-weight: 400;

	.title {
		border-bottom: 1px solid #ddd;
		color: #333;
		display: block;
		font-size: $fontSize;
		padding: 4px 6px;
	}

	.tweets {
		height: 400px;
		overflow: auto;
		padding: 8px;

		.tweet {
			font-size: 0;
			margin: 6px 0;
			white-space: nowrap;

			.userpic {
				border-radius: 100%;
				display: inline-block;
				height: $picSize;
				overflow: hidden;
				vertical-align: top;
				width: $picSize;

				img {
					height: $picSize;
					width: $picSize;
				}
			}

			.content {
				color: #666;
				display: inline-block;
				font-size: $fontSize;
				margin-left: 10px;
				vertical-align: top;

				.username {
					color: #444;
					font-weight: 700;
				}

				.text {
					white-space: normal;
				}
			}
		}
	}

}